html
  head 
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="keywords", content="Homework")
    meta(name="description", content="Homework for CC, Mihai Bojescu")
    meta(name="csrf", content=csrfToken)

    link(rel="stylesheet", href="./css/index.css")
    link(rel="stylesheet", href="./css/nav.css")
    link(rel="stylesheet", href="./css/card.css")

  body
    nav(id="navbar" class="shadow")
      ul 
        li
          img(src="https://img.icons8.com/ios/452/notepad.png" alt="logo")
        li
          a(href="/" class="monospace") NOUVEAU
      ul 
        li
          img(src="https://img.icons8.com/pastel-glyph/2x/person-male.png" alt="login" onclick="goToLogin()")
        li
          img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Flood_%28752%29_-_The_Noun_Project.svg/1200px-Flood_%28752%29_-_The_Noun_Project.svg.png" alt="flood" onclick="goToFlood()")
        li
          img(src="http://cdn.onlinewebfonts.com/svg/img_554178.png" alt="metrics" onclick="goToMetrics()")
        li
          img(src="https://cdn.iconscout.com/icon/free/png-256/logout-2032031-1713022.png" alt="logout" onclick="goToLogout()")

    div(id="content")

    script(src="./js/api.js")
    script(src="./js/md.js")
    script(src="./js/articles.js")
    script(src="./js/index.js")
