html
  head 
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="keywords", content="Homework")
    meta(name="description", content="Homework for CC, Mihai Bojescu")
    meta(name="csrf", content=csrfToken)

    link(rel="stylesheet", href="./css/index.css")
    link(rel="stylesheet", href="./css/nav.css")
    link(rel="stylesheet", href="./css/card.css")
    link(rel="stylesheet", href="./css/form.css")

  body
    nav(id="navbar" class="shadow")
      ul 
        li
          img(src="https://img.icons8.com/ios/452/notepad.png" alt="logo")
        li
          a(href="/" class="monospace") NOUVEAU

    div(id="content")
      div(class="card shadow")

    script(src="./js/api.js") 
    script(src="./js/metrics.js") 
