#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding: 5rem;
}

.shadow {
  box-sizing: border-box;
  box-shadow: 0px 0px 24px #ccc;
}

.card {
  display: flex;
  flex-direction: column;

  border-radius: 6px;
  padding: 3rem;

  margin-bottom: 3rem;

  width: 768px;
}

.card h1 {
  margin-top: 1rem;
  font-size: 3rem;
}

.card p {
  margin-top: 0px;
  font-size: 1.2rem;
}

.card a {
  color: #3288cb;
  margin-top: 0px;
  font-size: 1.2rem;
}

.card img {
  justify-self: center;
  padding: 3rem;
  max-height: 256px;
  object-fit: contain;
}

.small-card {
  width: 512px;
}
