form {
  display: flex;
  flex-direction: column;
}

form input:not([type="submit"]) {
  margin-bottom: 1rem;
  padding: 8px;
  background-color: #eee;
  border: none;
  border-radius: 2px;
}

form input[type="submit"] {
  padding: 8px;
  background-color: #ddd;
  border: none;
  border-radius: 2px;
}