* {
  font-family: sans-serif;
}

html, body {
  display: flex;
  flex-direction: column;

  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
}

h1, input[type="submit"] {
  color: #333;
}

p, label {
  color: #555;
}

a {
  color: #000;
  text-decoration: none;
}

.monospace {
  font-family: monospace;
}
