#navbar {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

#navbar ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#navbar li {
  margin: 0px 8px;
}

#navbar ul li * {
  display: block;
  padding: 8px;
  height: 48px;
}

#navbar ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.6rem;
  padding: 0px;
}

#navbar ul:nth-child(2) li {
  display: none;
}